html {
	position: relative;
}

body {
	margin-bottom: 120px;
}

.jumbotron img{
	width: 200px;
	height: 200px;
/*	border: 5px solid #fcb58c;*/
}
.jumbotron {
	background-color: #fff;
}
hr {
	width: 300px;
	border-top: 3px solid #999;
}
section {
	min-height: 300px;
	background-color: #ACDBDD;
}
section h2 {
	color: #fff;
}
.jumbotron h1, .porto {
	color: #59ADB1;
}

.portofolio {
	background-color: #fff;
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 160px;
	background-color: #659597;
	padding-top: 0px;
}
div p {
	font-size: 21px;
	text-align: center;
	font-family: 'Karla', sans-serif;
}
footer p {
	color: #fff;
	font-size: 1em;
}

footer p i {
	color: red;
}
